* {
  margin : 0;
  padding : 0;
}

@font-face {
  font-family: 'Bold';
  src: url(../src/assets/font/IntegralCF-Bold.ttf);
}

@font-face {
  font-family: 'Regular';
  src: url(../src/assets/font/SpaceMono-Regular.ttf);
}

body {
  width: 100%;
  background-color: #100D14;
}

/* Header */

.container-header {
  width: 90%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  padding-top: 5vh;
  padding-left: 5vw;
  justify-content: space-between;
  padding-right: 5vw;
}

.container-header h1 {
  font-family: 'Bold';
  font-size: 30px;
  color: #F2F2F2;
}




/* REGISTER */

.container-nav-header {
  position: relative;
  display: inline-block;
}

.register-button {
  background-color: #29282D;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #F2F2F2;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  font-family: 'Regular';
  border: none;
  cursor: pointer;
}
.register-button:hover {
  background-color: #3A393D;
}

.container-register {
  width: 100px;
  height: 250px;
  padding: 10px;
  position: absolute;
  top: 10vh;
  right: 1.2vw;
  z-index: 100;
  border: 0.5px solid #ccc;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.container-register form {
  display: flex;
  flex-direction: column;
  color: #F2F2F2;
}

.container-register label {
  font-family: 'Regular';
  font-size: 12px;
  margin-bottom: 5px;
}
.container-register input {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  background-color: #29282D;
  color: #F2F2F2;
  border: none;
}

.container-register button {
  background-color: #29282D;
  color: #F2F2F2;
  padding: 5px;
  margin-top: 4vh;
  border-radius: 5px;
  font-size: 12px;
  font-family: 'Regular';
  border: none;
  cursor: pointer;
}
.container-register button:hover {
  background-color: #3A393D;
}

.container-register input:hover {
  background-color: #3A393D;
}

.container-register input:focus {
  outline: none;
  background-color: #3A393D;
}


.container-register.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.container-register::before {
  content: '';
  position: absolute;
  top: -10px; 
  left: 20px; 
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #3A393D;
}


/* LOGIN */

.container-login {
  position: relative;
  display: inline-block;
  margin-right: 0.5vw;
}


.container-login form input {
  width: 100px;
  padding: 5px;
  border-radius: 5px;
  background-color: #29282D;
  color: #F2F2F2;
  border: none;
  margin: 0;
  margin-right: 1vw;
}

.container-login form button {
  background-color: rgba(134, 45, 236, 0.676);
  color: #F2F2F2;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  font-family: 'Regular';
  border: none;
  cursor: pointer;
}

.container-login form button:hover {
  background-color: rgba(152, 77, 237, 0.676);
}

.container-login form input:hover {
  background-color: #3A393D;
}

.container-login form input:focus {
  outline: none;
  background-color: #3A393D;
}

